*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(../img/fundo02_site1.jpg);
    background-size: cover;
}

.tela {
    max-width: 21.875em;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
}

 h1 {
    margin-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}

form {
    padding: 0 30px;
}

.tela label {
    display: block;
    margin-top: -5px;
    font-size: 1.125em;
    line-height: 2.5;
    text-align: center;
    color: rgb(65, 64, 64);
    user-select: none;
}

.tela label:nth-of-type(2) {
    margin-top: 10px;
}

.tela input[type=email], .tela input[type=password] {
    width: 100%;
    padding:0 0 6px 5px;
    font-size: 1em;
    font-weight: lighter;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
    background-color: #f7f7f7;
    outline: none;
}

.tela form a {
    display: inline-block;
    margin: 20px 0 20px 5px;
    color: #0073b1;
    text-decoration: none;
}

.tela form a:hover {
    text-decoration: underline;
}

.tela input[type=submit] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #0E8AD1;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.tela input[type=submit]:hover {
    background-color: #2977c9;
}

p {
    margin: 20px 0;
    font-size: 0.875em;
    text-align: center;
}

.social-media {
    text-align: center;
}

.facebook {
    padding: 7px 15px 5px 15px;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #4267b2;
    border-radius: 50%;
    text-decoration: none;
}

.linkedin {
    margin-left: 10px;
    padding: 7px 10px 6px 10px;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #007bb6;
    border-radius: 50%;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding-bottom: 30px;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    padding-bottom: 30px;
    font-size: 1em;
    color: #0073b1;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 370px) {
    .tela {
        margin: 0 10px;
    }
}